<div class="row">
   <div id="schedulem">
      <div style="padding-top:20px">
         <div class="areaInfoItem">
            <span class="areaInfoLabel">Feeder: </span>MAKRO BUSSECTION / CAIRA 11kV FEEDER
         </div>
         <br />
         <div class="scheduleDay">
            <div class="dayMonth">
               Sun, 26 Jun
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"14:00 - 16:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>14:00 - 16:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"22:00 - 00:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>22:00 - 00:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Mon, 27 Jun
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"22:00 - 00:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>22:00 - 00:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Tue, 28 Jun
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"06:00 - 08:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>06:00 - 08:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Wed, 29 Jun
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"04:00 - 06:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>04:00 - 06:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"12:00 - 14:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>12:00 - 14:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Thu, 30 Jun
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"12:00 - 14:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>12:00 - 14:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"20:00 - 22:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>20:00 - 22:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Fri, 01 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"18:00 - 20:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>18:00 - 20:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sat, 02 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"02:00 - 04:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>02:00 - 04:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sun, 03 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"02:00 - 04:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>02:00 - 04:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"10:00 - 12:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>10:00 - 12:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Mon, 04 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"10:00 - 12:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>10:00 - 12:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"18:00 - 20:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>18:00 - 20:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Tue, 05 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"16:00 - 18:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>16:00 - 18:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Wed, 06 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"00:00 - 02:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>00:00 - 02:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Thu, 07 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"00:00 - 02:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>00:00 - 02:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"08:00 - 10:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>08:00 - 10:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Fri, 08 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"08:00 - 10:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>08:00 - 10:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"16:00 - 18:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>16:00 - 18:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sat, 09 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"14:00 - 16:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>14:00 - 16:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"22:00 - 00:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>22:00 - 00:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sun, 10 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"22:00 - 00:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>22:00 - 00:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Mon, 11 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"06:00 - 08:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>06:00 - 08:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Tue, 12 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"06:00 - 08:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>06:00 - 08:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"14:00 - 16:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>14:00 - 16:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Wed, 13 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"12:00 - 14:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>12:00 - 14:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"20:00 - 22:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>20:00 - 22:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Thu, 14 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"20:00 - 22:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>20:00 - 22:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Fri, 15 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"04:00 - 06:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>04:00 - 06:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sat, 16 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"04:00 - 06:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>04:00 - 06:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"12:00 - 14:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>12:00 - 14:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sun, 17 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"10:00 - 12:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>10:00 - 12:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"18:00 - 20:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>18:00 - 20:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Mon, 18 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"18:00 - 20:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>18:00 - 20:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Tue, 19 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"02:00 - 04:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>02:00 - 04:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Wed, 20 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"02:00 - 04:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>02:00 - 04:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"10:00 - 12:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>10:00 - 12:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Thu, 21 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"08:00 - 10:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>08:00 - 10:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"16:00 - 18:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>16:00 - 18:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Fri, 22 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"16:00 - 18:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>16:00 - 18:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sat, 23 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"00:00 - 02:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>00:00 - 02:30</a> <br>
               <br>
            </div>
         </div>
         <div class="scheduleDay">
            <div class="dayMonth">
               Sun, 24 Jul
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"00:00 - 02:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>00:00 - 02:30</a> <br>
               <br>
            </div>
            <div style="padding:10px;">
               <a style="text-decoration: none" onclick="showFeeder('[{" Time":"08:00 - 10:30","Feeder":"MAKRO BUSSECTION / CAIRA 11kV FEEDER"}]')" ;>08:00 - 10:30</a> <br>
               <br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="span12">
      <div id="showprint" class="page-social">
         <img src="" id="ps-mail" style="cursor:pointer" title="Email Calender" onclick="Showmail()" alt="Find" />
         <div id="maildetails" style="display:none">
            Enter Email <input type="email" id="email" required="required" /> <br />
            <input id="btnemail" onclick="send()" type="button" value="Send Email" />
         </div>
         <a id="printButton1" style="height:32px;width:32px;" Target="_blank" href='/LoadShedding/DownloadFile?ID=1058852&amp;Name=Milnerton'><img src="/Images/icoPrint.png" alt="Print schedule" /></a>
      </div>
   </div>
</div>
<script type="text/javascript">
   var id = 1058852



   function send() {



     var na = 'Milnerton';
     $.getJSON('/LoadShedding/DownloadFile', {
       ID: id,
       Name: na,
       myemail: $('#email').val()
     }, function(data) {
       $.each(data, function(i, item) {


         alert("Email sent sucessfully");
         $("#maildetails").dialog("close");

       });
     })
   }
   //  function action() {
   //    if (ValidateEmail($('#email').val()) ) {
   //        $('#btnemail').prop("disabled", false);
   //    } else {
   //        $('#btnemail').prop("disabled", true);
   //    }
   //}
   function Showmail() {
     var size;
     if ($(window).width() > 800) {
       size = $(window).width() / 2;
     } else {
       size = 'auto';
     }

     $("#maildetails").dialog({

       autoOpen: true,

       width: size,



       fluid: true, //new option








       modal: true,
       show: {
         effect: "blind"
       },
       hide: {
         effect: "explode"
       },

       buttons: {
         "Close": function() {
           $(this).dialog("close");
         }
       },

       closeOnEscape: true



     });
   }
</script>
